.brands {
  &__container {
    @include section-container;

    position: relative;

    &-form-steps {
      display: flex;
      gap: 25px;

      @include for-desktop {
        flex-direction: column;
      }
    }
  }

  &__title {
    @include text-title;
  }

  &__intro {
    // padding: 25px;
    @include section-inner-padding;

    margin-bottom: 25px;
    border-radius: 15px;
    background-color: var(--light-color);

    &-title {
      margin: 0;
      font-weight: 700;

      // @include adaptiv-font(36, 24);
      font-size: clamp(20px, 3vw, 36px);
    }

    &-text {
      margin-bottom: 0;
      font-weight: 400;

      // @include adaptiv-font(20, 14);
      font-size: clamp(14px, 2vw, 20px);
    }
  }

  &__form {
    // padding: 25px;
    @include section-inner-padding;

    flex-basis: 50%;
    border-radius: 15px;
    background-color: var(--light-color);

    .form {
      &__title {
        margin-top: 0;
        margin-bottom: 25px;
        font-weight: 700;

        // @include adaptiv-font(36, 24);
        font-size: clamp(20px, 3vw, 36px);
        text-transform: uppercase;
      }

      &__textarea {
        display: block;
        flex-grow: 1;
        margin-bottom: 10px;
        border: 0;
        border-radius: 15px;
        padding: 15px 20px;
        width: 100%;
        height: 200px;
        font-family: inherit;
        font-weight: 400;
        background-color: #fff;
        resize: none;

        &:focus {
          outline: var(--primary-color) solid 1px;
        }

        &:active {
          outline: var(--primary-color) solid 1px;
        }
      }

      div {
        flex-grow: 1;
      }

      &__input {
        flex-grow: 1;
        border: 0;
        border-radius: 15px;
        padding: 15px 20px;
        width: 100%;
        font-family: inherit;
        font-weight: 400;
        background-color: #fff;

        &:focus {
          outline: var(--primary-color) solid 1px;
        }

        &:active {
          outline: var(--primary-color) solid 1px;
        }
      }

      &__submit {
        @include btn-base;

        width: 100%;
        color: var(--light-color);

        &:hover {
          border-color: var(--primary-lighten);
          background-color: var(--primary-lighten);
          cursor: pointer;
        }
      }

      &__checkboxes {
        display: flex;
        margin-bottom: 10px;
        border-radius: 15px;
        padding: 5px;
        background-color: #fff;
        gap: 5px;
      }

      &__inputs {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        gap: 10px;
      }

      &__checkbox {
        flex-grow: 1;

        &-input {
          &:checked {
            ~ .form__checkbox-label {
              color: #fff;
              background-color: var(--primary-color);
            }
          }
        }

        &-label {
          display: inline-block;
          border-radius: 10px;
          padding: 15px;
          width: 100%;
          font-weight: 500;
          font-size: 16px;
          text-align: center;
          background-color: var(--light-color);
          cursor: pointer;
        }
      }
    }
  }

  &__steps {
    // padding: 25px;
    @include section-inner-padding;

    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--light-color);

    @include for-desktop {
      order: -1;
    }

    .steps {
      &__title {
        margin-top: 0;
        margin-bottom: 25px;
        font-weight: 700;

        // @include adaptiv-font(36, 24);
        font-size: clamp(20px, 3vw, 36px);
        text-transform: uppercase;
      }

      &__list {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 10px;
      }

      &__item {
        position: relative;
        display: flex;
        flex-grow: 1;
        align-items: center;
        border-radius: 15px;
        padding: 20px 20px 20px 80px;
        font-weight: 600;

        // @include adaptiv-font(22, 18);
        font-size: clamp(16px, 2vw, 22px);
        background: #fff;

        @include mobile {
          padding: 15px 15px 15px 60px;
        }

        &::before {
          content: attr(data-num);
          position: absolute;
          left: 25px;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: #fff;
          background-color: var(--primary-color);

          @include mobile {
            left: 15px;
            width: 30px;
            height: 30px;
            line-height: 30px;
          }
        }
      }
    }
  }
}
