.coffe {
  &__container {
    @include section-container;

    position: relative;
  }

  &__title {
    @include text-title;
  }

  &__how,
  &__benefits,
  &__form {
    // padding: 25px;
    @include section-inner-padding;

    border-radius: 15px;
    background-color: var(--light-color);
  }

  &__conditions {
    // padding: 25px;
    @include section-inner-padding;

    border-radius: 15px;
    color: var(--light-color);
    background-color: var(--dark-color);
  }

  &__benefits-list,
  &__conditions-list {
    margin: 0;
    padding: 0;
  }

  &__benefits-item,
  &__conditions-item {
    @include list-line;

    // @include adaptiv-font(20, 14);
    font-size: clamp(14px, 2vw, 20px);
  }

  &__form-input {
    flex-grow: 1;
    border: 0;
    border-radius: 15px;
    padding: 15px 20px;
    width: 100%;
    font-family: inherit;
    font-weight: 400;
    background-color: #fff;

    &:focus {
      outline: var(--primary-color) solid 1px;
    }

    &:active {
      outline: var(--primary-color) solid 1px;
    }
  }

  &__form-submit {
    @include btn-base;

    width: 100%;
    color: #fff;

    &:hover {
      border-color: var(--primary-lighten);
      background-color: var(--primary-lighten);
      cursor: pointer;
    }
  }

  &__benefits-title,
  &__conditions-title,
  &__form-title,
  &__how-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;

    // @include adaptiv-font(32, 22);
    font-size: clamp(20px, 3vw, 36px);
  }

  &__how-subtitle {
    margin: 0;
    font-size: clamp(14px, 2vw, 20px);
  }

  &__content {
    display: flex;
    gap: 25px;

    &-left,
    &-right {
      display: flex;
      flex-grow: 1;
      flex-basis: 50%;
      flex-direction: column;
      gap: 25px;
    }

    @include for-desktop {
      flex-direction: column;
    }
  }

  &__form,
  &__benefits {
    flex-grow: 1;
  }

  &__form-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    div {
      flex-grow: 1;
    }
  }
}
