.franchize {
  &__container {
    @include section-container;

    position: relative;
    min-height: 600px;
    background-image: url("../img/fr_bg.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    @include text-title;

    margin-bottom: 0;
  }

  &__subtitle {
    display: inline-block;
    margin: 0;
    border-radius: 15px;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--primary-color);
  }
}
