.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  &.header-hidden{
    transform: translateY(-100%);
  }
  &__container {
    @include section-container;
    @include flex-v-center;
    padding: 8px 12px 8px 12px ;
    position: relative;
    border-radius: 0 0 15px 15px;
    margin-top: 0;
  }
  &__nav {
    @include small-tablet {
      z-index: 99;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: white;
      border-radius: 15px;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
      padding: 10px;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      .btn-header {
        width: 100%;
      }
      .header__item {
        margin: 0;
        margin-top: 10px;
      }
      .header__link {
        width: 100%;
      }
      .header__menu {
        display: flex;
        flex-direction: column;
        &-icon{
          margin-top: 10px;
          background-color: var(--primary-color);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius:10px;
          &--vk{
            svg {
              max-width: 26px;
              max-height: 26px;
              fill: white;
            }
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    &.menu--active {
      @include small-tablet {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: 0.3s ease all;
      }

    }
  }
  &__menu {
    display: inline-block;
    padding: 0;
    margin: 0;
    &-icon{
      display: none;
    }
  }
  &__item {
    @include btn-base;
    background-color: var(--light-color);
    border-color: var(--light-color);
    margin-left: 8px;
    padding: 0;
    &:hover{
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      cursor: pointer;
      .header__link {
        color: #fff;
      }
    }
  }
  &__link {
    color: var(--dark-color);
    transition: 0.2s ease all;
    padding: 15px 20px 15px 20px;
    display: inline-block;
  }
  &__logo {
    margin-right: 8px;
    img {
      display: block;
    }
  }
}

.burger {
  @include burger;
  margin-left: auto;
  margin-right: 10px;
  display: none;
  @include small-tablet {
    display: block;
  }
}
