.hero {
  &__container {
    @include section-container;

    position: relative;

    // padding: 25px;
  }

  &__brand {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;

    // @include adaptiv-font(40, 30);
    font-size: clamp(22px, 4vw, 40px);

    &--container {
      margin-top: 60px;
      text-align: center;

      @include tablet {
        margin-top: 20px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: -55px;
      top: 50%;
      width: 44px;
      height: 5px;
      background-color: var(--primary-color);
      transform: translateY(-50%);
    }
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 800;

    // @include adaptiv-font(64, 25);
    font-size: clamp(26px, 4vw, 64px);
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-color);
  }

  &__subtitle {
    margin-top: 10px;
    margin-bottom: 180px;
    font-weight: 400;

    // @include adaptiv-font(32, 18);
    font-size: clamp(18px, 4vw, 32px);
    text-align: center;

    @include tablet {
      margin-bottom: 350px;
    }

    @include mobile {
      margin-bottom: 250px;
    }
  }

  &__swiper {
    margin-right: 0;
    margin-left: auto;
    border-radius: 10px;
    width: 350px;
    height: 350px;

    @include for-desktop {
      margin-bottom: 15px;
    }

    .swiper-slide {
      a {
        display: block;
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    @include tablet {
      width: 100%;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include for-desktop {
      flex-direction: column-reverse;
    }
  }

  &__quote {
    // @include adaptiv-font(32, 16);
    font-size: clamp(14px, 2vw, 32px);
  }

  &__highlight {
    // hyphens:auto;
    display: inline-block;
    border-radius: 50px;
    background-color: var(--primary-color);
  }

  &__vk {
    width: 34px;
    height: 34px;
    fill: #fff;
  }

  &__social {
    position: absolute;
    top: 50%;
    display: flex;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--primary-color);
    transform: translateY(-50%);
    transition: 0.2s ease all;

    &:hover {
      border-color: var(--primary-lighten);
      background-color: var(--primary-lighten);
      cursor: pointer;
    }

    @include mobile {
      top: 42%;
    }

    @include tablet {
      display: none;
    }
  }

  &__bg,
  &__cup {
    position: absolute;
    top: 42%;
  }

  &__bg {
    left: 29%;

    @include big-desktop {
      left: 20%;
      top: 35%;
      width: 50vw;
    }

    @include for-desktop {
      left: 15%;
      top: 35%;
      width: 55vw;
    }

    @include tablet {
      left: 20%;
      top: 20%;
      width: 65vw;
    }

    @include small-tablet {
      left: 12%;
      top: 20%;
      width: 78vw;
    }

    @include mobile {
      left: 12%;
      top: 21%;
      width: 80vw;
    }

    @media (max-width: (493px)) {
      left: 12%;
      top: 24%;
    }

    @media (max-width: (450px)) {
      left: 5%;
      top: 24%;
      width: 90vw;
    }

    @media (max-width: (370px)) {
      left: 7%;
      top: 26%;
      width: 90vw;
    }
  }

  &__cup {
    left: 20%;
    transform: translate3d(0, 0, 0);
    transform-origin: center;
    animation: levitate-animation 2s ease-in-out infinite alternate;

    @include big-desktop {
      left: 10%;
      top: 35%;
      width: 30vw;
    }

    @include for-desktop {
      left: 5%;
      top: 35%;
    }

    @include tablet {
      left: 10%;
      top: 20%;
      width: 35vw;
    }

    @include small-tablet {
      left: -2%;
      top: 20%;
      width: 41vw;
    }

    @include mobile {
      left: 1%;
      top: 24%;
      width: 41vw;
    }

    @media (max-width: (370px)) {
      left: -7%;
      top: 26%;
      width: 48vw;
    }
  }

  &__swiper-prev,
  &__swiper-next {
    position: absolute;
    bottom: 5px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    transform: scale(1);
    transition: 0.2s ease all;
    cursor: pointer;

    &:hover {
      transform: scale(0.9);
    }

    svg {
      width: 20px;
      height: 20px;
      fill: #fff;
    }
  }

  &__swiper-prev {
    left: 5px;
  }

  &__swiper-next {
    right: 5px;
  }
}

.swiper-pagination-bullet-active {
  background: var(--primary-color);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-color);
}

@keyframes levitate-animation {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, -10px, 0);
  }
}
