.hero {
  &__container {
    @include section-container;
    position: relative;
    // padding: 25px;
  }
  &__brand {
    font-weight: 600;
    // @include adaptiv-font(40, 30);
    font-size: clamp(22px, 4vw, 40px);
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    &--container {
      text-align: center;
      margin-top: 60px;
      @include tablet {
        margin-top: 20px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      background-color: var(--primary-color);
      width: 44px;
      height: 5px;
      top: 50%;
      left: -55px;
      transform: translateY(-50%);
    }
  }
  &__title {
    font-weight: 800;
    // @include adaptiv-font(64, 25);
    font-size: clamp(26px, 4vw, 64px);
    text-transform: uppercase;
    color: var(--dark-color);
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
  }
  &__subtitle {
    font-weight: 400;
    // @include adaptiv-font(32, 18);
    font-size: clamp(18px, 4vw, 32px);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 180px;
    @include tablet {
      margin-bottom: 350px;
    }
    @include mobile {
      margin-bottom: 250px;
    }
  }
  &__swiper{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0;
    @include for-desktop {
      margin-bottom: 15px;
    }
    .swiper-slide {
      a {
        width: 100%;
        height: 100%;
        display: block;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    @include tablet {
      width: 100%;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include for-desktop {
      flex-direction: column-reverse;
    }
  }
  &__quote {
    // @include adaptiv-font(32, 16);
    font-size: clamp(14px, 2vw, 32px);

  }
  &__highlight {
    background-color: var(--primary-color);
    border-radius: 50px;
  }
  &__vk {
    width: 34px;
    height: 34px;
    fill: white;
  }
  &__social{
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    padding: 10px;
    transition: 0.2s ease all;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &:hover{
      background-color: var(--primary-lighten);
      border-color: var(--primary-lighten);
      cursor: pointer;
    }
    @include mobile {
      top: 42%;
    }
    @include tablet {
      display: none;
    }
  }
  &__bg,
  &__cup {
    position: absolute;
    top: 42%;
  }
  &__bg {
    left: 29%;
    @include big-desktop {
      left: 20%;
      top: 35%;
      width: 50vw;
    }
    @include for-desktop {
      left: 15%;
      top: 35%;
      width: 55vw;
    }
    @include tablet {
      left: 20%;
      top: 20%;
      width: 65vw;
    }
    @include small-tablet {
      left: 12%;
      top: 20%;
      width: 78vw;
    }
    @include mobile {
      left: 15%;
      top: 25%;
      width: 80vw;
    }
  }
  &__cup {
    left: 20%;
    @include big-desktop {
      left: 10%;
      top: 35%;
      width: 30vw;
    }
    @include for-desktop {
      left: 5%;
      top: 35%;
    }
    @include tablet {
      left: 10%;
      top: 20%;
      width: 35vw;
    }
    @include small-tablet {
      left: -2%;
      top: 20%;
      width: 41vw;
    }
    @include mobile {
      left: 1%;
      top: 24%;
      width: 41vw;
    }


  }
  &__swiper-prev,
  &__swiper-next{
    position: absolute;
    bottom: 5px;
    background: var(--primary-color);
    z-index: 99;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
    transition: 0.2s ease all;
    &:hover {
      transform: scale(0.9);
    }
    svg {
      width: 20px;
      height: 20px;
      fill: white;
    }
  }
  &__swiper-prev {
    left: 5px;
  }
  &__swiper-next {
    right: 5px;
  }
}

.swiper-pagination-bullet-active {
  background: var(--primary-color);
}
.swiper-button-next, .swiper-button-prev{
  color: var(--primary-color);
}

.hero__cup{
  animation: levitate-animation 2s ease-in-out infinite alternate;
  transform-origin: center;
  transform: translate3d(0, 0, 0);
}

@keyframes levitate-animation {
  0% {
  transform: translate3d(0, 0, 0);
  }
  100% {
  transform: translate3d(0, -10px, 0);
  }
}
