@mixin list-line {
  position: relative;
  list-style-type: none;
  margin-bottom: 15px;
  padding-left: 60px;

  @include mobile {
    padding-left: 40px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 45px;
    height: 5px;
    background-color: var(--primary-color);
    transform: translateY(-50%);

    @include mobile {
      width: 30px;
      height: 3px;
    }
  }
}
