<section class="brands" id="brands">
  <div class="container">
    <div class="brands__container">
      <h2 class="brands__title">БРЕНДАМ</h2>
      <div class="brands__intro">
        <h3 class="brands__intro-title">CUPBRAND</h3>
        <p class="brands__intro-text">CupBrand  — это уникальная площадка для рекламы в кофейнях. Мы размещаем рекламу на одноразовых стаканчиках, которые ежедневно видят тысячи людей. Ваша реклама будет в руках у потребителей, где они проводят время, общаются, работают и наслаждаются кофе.</p>
      </div>

      <div class="brands__container-form-steps">
        <div class="brands__form" data-aos="fade-right" data-aos-duration="1300">
          <form class="form">
            <h3 class="form__title">Оставьте заявку</h3>
            <div class="form__inputs">
              <input type="text" placeholder="Контактное лицо" class="form__input">
              <input type="tel" placeholder="Номер телефона" class="form__input">
            </div>

            <div class="form__checkboxes">
              <div class="form__checkbox">
                <input class="form__checkbox-input visually-hidden" type="checkbox" id="checkbox1" value="250">
                <label class="form__checkbox-label" for="checkbox1">
                  250мл
                </label>
              </div>
              <div class="form__checkbox">
                <input class="form__checkbox-input visually-hidden" type="checkbox" id="checkbox2" value="300">
                <label class="form__checkbox-label" for="checkbox2">
                  300мл
                </label>
              </div>
              <div class="form__checkbox">
                <input class="form__checkbox-input visually-hidden" type="checkbox" id="checkbox3" value="400" checked>
                <label class="form__checkbox-label" for="checkbox3">
                  400мл
                </label>
              </div>
            </div>

            <textarea placeholder="Комментарий" class="form__textarea"></textarea>
            <button class="form__submit" type="submit">Оставить заявку</button>
          </form>
        </div>

        <div class="brands__steps">
          <h3 class="steps__title">Этапы кампании</h3>
          <ol class="steps__list">
            <li class="steps__item" data-num="1" data-aos="fade-up" data-aos-duration="600">Оформление заказа</li>
            <li class="steps__item" data-num="2" data-aos="fade-up" data-aos-duration="800">Разработка концепции</li>
            <li class="steps__item" data-num="3" data-aos="fade-up" data-aos-duration="900">Выбор точек и тиража</li>
            <li class="steps__item" data-num="4" data-aos="fade-up" data-aos-duration="1100">Печать и поставка</li>
            <li class="steps__item" data-num="5" data-aos="fade-up" data-aos-duration="1300">Отчёт и аналитика</li>
          </ol>
        </div>
      </div>

    </div>
  </div>
</section>
