<section class="coffe" id="coffe">
  <div class="container">
    <div class="coffe__container">
      <h2 class="coffe__title">кофейням</h2>
      <div class="coffe__content">
        <div class="coffe__content-left">
          <div class="coffe__how">
            <h3 class="coffe__how-title">Как это работает?</h3>
            <p class="coffe__how-subtitle">Мы печатаем стаканчики с рекламой и передаём их вам. Вы используете их как обычно — продаете своим клиентам. Мы платим за это сами, а вы получаете бесплатные стаканчики.</p>
          </div>
          <div class="coffe__benefits">
            <h3 class="coffe__benefits-title">Преимущества</h3>
            <ul class="coffe__benefits-list">
              <li class="coffe__benefits-item" data-aos="fade-right" data-aos-duration="800">Бесплатные стаканчики</li>
              <li class="coffe__benefits-item" data-aos="fade-right" data-aos-duration="1000">Сотрудничество по всей России</li>
              <li class="coffe__benefits-item" data-aos="fade-right" data-aos-duration="1200">Не нужно менять бизнес-процессы</li>
              <li class="coffe__benefits-item" data-aos="fade-right" data-aos-duration="1400">Партнёрство без рисков</li>
              <li class="coffe__benefits-item" data-aos="fade-right" data-aos-duration="1600">Регулярные поставки</li>
              <li class="coffe__benefits-item" data-aos="fade-right" data-aos-duration="1700">Поддержка на всех этапах</li>
            </ul>
          </div>
        </div>
        <div class="coffe__content-right">
          <div class="coffe__conditions">
            <h3 class="coffe__conditions-title">Условия участия</h3>
            <ul class="coffe__conditions-list">
              <li class="coffe__conditions-item" data-aos="fade-left" data-aos-duration="400">Наличие юридического лица или ИП</li>
              <li class="coffe__conditions-item" data-aos="fade-left" data-aos-duration="600">Согласие на размещение рекламы на стаканчиках</li>
              <li class="coffe__conditions-item" data-aos="fade-left" data-aos-duration="800">Надёжная работающая точка</li>
              <li class="coffe__conditions-item" data-aos="fade-left" data-aos-duration="1000">Готовность сотрудничать</li>
            </ul>
          </div>
          <div class="coffe__form">
            <h3 class="coffe__form-title">Заказать бесплатные стаканчики</h3>
            <form class="coffe__form-form" id="cupsform">
              <div class="coffe__form-inputs">
                <div>
                  <input name="contact" type="text" placeholder="Имя" class="coffe__form-input">
                </div>
                <div>
                  <input name="city" type="text" placeholder="Город" class="coffe__form-input">
                </div>
                <div>
                  <input name="phone" type="tel" placeholder="+7 (___) ___-__-__" class="coffe__form-input" data-phone autocomplete="one-time-code">
                </div>
                <input type="hidden" name="type" value="cups">
                <button class="coffe__form-submit">Отправить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
