<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__logo">
        <img loading="lazy" src="img/logo.svg" class="image" width="50px" height="44px" alt="Логотип CupBrand">
      </div>
      <nav class="header__nav" data-menu>
        <button class="btn btn-header" aria-label="Сделать заказ">Сделать заказ</button>
        <ul class="header__menu">
          <li class="header__item"><a href="#brands" class="header__link" data-menu-item>Брендам</a></li>
          <li class="header__item"><a href="#coffe" class="header__link" data-menu-item>Кофейням</a></li>
          <li class="header__item"><a href="#franchize" class="header__link" data-menu-item>Франшиза</a></li>
          <div>
            <a href="" class="header__menu-icon header__menu-icon--vk">
              <svg>
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a>
          </div>
        </ul>
      </nav>
      <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
