<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__logo">
        <img loading="lazy" src="img/logo.svg" class="image" width="50px" height="44px" alt="Логотип CupBrand">
      </div>
      <nav class="header__nav">
        <button class="btn btn-header" aria-label="Сделать заказ">Сделать заказ</button>
        <ul class="header__menu">
          <li class="header__item"><a href="#brands" class="header__link">Брендам</a></li>
          <li class="header__item"><a href="#" class="header__link">Кофейням</a></li>
          <li class="header__item"><a href="#" class="header__link">Франшиза</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
