<section class="hero">
  <div class="container">
    <div class="hero__container">
      <img src="img/hero_bg.svg" alt="Реклама 2.0" class="hero__bg" />
      <img src="img/white_coffe.png" alt="Реклама 2.0" class="hero__cup" />
      <div class="hero__brand--container">
        <h1 class="hero__brand" data-aos="fade-down" data-aos-duration="1800">
          CupBrand
        </h1>
      </div>
      <h2 class="hero__title" data-aos="fade-down" data-aos-duration="2000">
        <span class="color-primary">ВАШ</span> БРЕНД В КАЖДОЙ РУКЕ!
      </h2>
      <p class="hero__subtitle" data-aos="fade-down" data-aos-duration="3000">
        <b>Первая</b> в мире платформа, где реклама живёт на стаканчиках
      </p>
      <div class="hero__bottom">
        <div class="hero__quote">
          Превращаем каждый глоток в
          <span class="hero__highlight">&shy;медиа-событие. </span>
        </div>
        <div class="swiper hero__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a
                href="img/slider_image1.png"
                data-fancybox="gallery"
                data-caption="Фото 1"
              >
                <img src="img/slider_image1.png" alt="Стаканчик" />
              </a>
            </div>
            <div class="swiper-slide">
              <a
                href="img/slider_image2.png"
                data-fancybox="gallery"
                data-caption="Фото 2"
              >
                <img src="img/slider_image2.png" alt="Стаканчик2" />
              </a>
            </div>
            <div class="swiper-slide">
              <a
                href="img/slider_image1.png"
                data-fancybox="gallery"
                data-caption="Фото 1"
              >
                <img src="img/slider_image1.png" alt="Стаканчик" />
              </a>
            </div>
            <div class="swiper-slide">
              <a
                href="img/slider_image2.png"
                data-fancybox="gallery"
                data-caption="Фото 2"
              >
                <img src="img/slider_image2.png" alt="Стаканчик2" />
              </a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="hero__swiper-prev">
            <svg>
              <use xlink:href="img/sprite.svg#arrow_left"></use>
            </svg>
          </div>
          <div class="hero__swiper-next">
            <svg>
              <use xlink:href="img/sprite.svg#arrow_right"></use>
            </svg>
          </div>
        </div>
      </div>
      <a class="hero__social" href="https://vk.com/cupbrand" target="_blank">
        <img src="img/vk.svg" alt="vk" class="hero__vk">
        <!-- <svg class="hero__vk">
          <use xlink:href="img/sprite.svg#vk"></use>
        </svg> -->
      </a>
    </div>
  </div>
</section>
