<div class="graph-modal">
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="error"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <h3>❌ Ошибка отправки</h3>
      <p id="modal-error-text">Попробуйте позже.</p>
    </div>
  </div>
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="success"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <h3>✅ Заявка отправлена!</h3>
      <p>Мы скоро с вами свяжемся.</p>
    </div>
  </div>
</div>
