<section class="subhero">
  <div class="container">
    <div class="subhero__container">
      <h2 class="subhero__title">Забудьте о смартфонах! <br> Кофе с вашим брендом - новый <span class="color-primary">тренд</span>!</h2>
      <div class="subhero__advantages">
        <div class="subhero__advantage--primary">
          <h3 class="subhero__advantage-title--primary">Преимущества размещения&nbsp;рекламы&nbsp;на <br>кофейных стаканчиках</h3>
        </div>
        <div class="swiper subhero__swiper">
          <div class="swiper-wrapper" >
            <div class="swiper-slide subhero__advantage">
              <h3 class="subhero__advantage-title">Работаем по всей россии</h3>
              <p class="subhero__advantage-subtitle">Ваша реклама на кофейных стаканчиках в любой точке</p>
            </div>
            <div class="swiper-slide subhero__advantage">
              <h3 class="subhero__advantage-title">Длительный контакт</h3>
              <p class="subhero__advantage-subtitle">Ваша реклама с клиентом дольше, чем мимолетная интернет-реклама.</p>
            </div>
            <div class="swiper-slide subhero__advantage">
              <h3 class="subhero__advantage-title">Ненавязчивость</h3>
              <p class="subhero__advantage-subtitle">Реклама воспринимается как часть повседневной жизни.</p>
            </div>
            <div class="swiper-slide subhero__advantage">
              <h3 class="subhero__advantage-title">целевая аудитория</h3>
              <p class="subhero__advantage-subtitle">Охват широкого круга потенциальных покупателей в кофейнях.</p>
            </div>
            <div class="swiper-slide subhero__advantage">
              <h3 class="subhero__advantage-title">эффективность</h3>
              <p class="subhero__advantage-subtitle">Увеличение узнаваемости бренда и привлечение новых клиентов.</p>
            </div>
            <div class="swiper-slide subhero__advantage">
              <h3 class="subhero__advantage-title">Высокая видимость</h3>
              <p class="subhero__advantage-subtitle">Ваше сообщение всегда в руках клиентов.</p>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
      <div class="subhero__cta" data-aos="zoom-in" data-aos-duration="1300">
        Готовы сделать свой бренд частью утреннего ритуала миллионов ?
      </div>
    </div>
  </div>
</section>
