<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__brand--container">
        <h1 class="hero__brand">CupBrand</h1>
      </div>
      <h2 class="hero__title"><span class="color-primary">ВАШ</span> БРЕНД В КАЖДОЙ РУКЕ!</h1>
      <p class="hero__subtitle"><b>Первая</b> в мире платформа, где реклама живёт на стаканчиках</p>
      <div class="hero__bottom">
        <div class="hero__quote">Превращаем каждый глоток в<span class="hero__highlight"> медиа-событие. </span></div>
        <div class="swiper hero__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="img/slider_image1.png" data-fancybox="gallery" data-caption="Фото 1">
                <img src="img/slider_image1.png" alt="Стаканчик">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="img/slider_image2.png" data-fancybox="gallery" data-caption="Фото 2">
                <img src="img/slider_image2.png" alt="Стаканчик2">
              </a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <a class="hero__social" href="https://vk.com/cupbrand" target="_blank">
        <svg class="hero__vk">
          <use xlink:href="img/sprite.svg#vk"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
